.accommodation {
     margin-top: 150px;
     display: flex;
     justify-content: center;
     margin-bottom: 150px;
}

.accommodationContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     max-width: 1430px;
     width: 90%;
}

.accommodationMainText {
     font-size: 110px;
     font-weight: 500;
     text-align: center;
     color: white;
     margin-bottom: 50px;
}

.accommodationSearch {
     width: 700px;
     height: 94px;
     border-radius: 64px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
}

.accommodationSearchBC {
     position: absolute;
     z-index: 0;
}

.accommodationSearchSectionOne {
     z-index: 5;
     flex: 65%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-left: 40px;
}

.accommodationSearchSectionSearch {
     z-index: 5;
     flex: 35%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 264px;
     height: 75px;
     border-radius: 64px;
     background-color: #5d98af;
     margin-right: 5px;
}

.accommodationSearchSectionSearchIcon {
     display: flex;
     z-index: 5;
     align-items: center;
     justify-content: center;
     margin-right: 15px;
}

.accommodationSearchSectionSearchText {
     color: white;
     font-size: 18px;
     z-index: 5;
}

.accommodationSearchSectionOneIcon {
     margin-right: 10px;
}

.accommodationSearchSectionOneTitle {
     color: #b1b1b1;
     font-size: 13px;
}

.accommodationSearchSectionOneTitleText {
     color: #000000;
     font-size: 21px;
}
