.safety {
     background-color: red;
     margin-top: 200px;
     display: flex;
     justify-content: center;
}

.safetyBC {
     z-index: 0;
     position: absolute;
}

.safetyContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     max-width: 1430px;
     width: 90%;
     z-index: 5;
}

.safetyTitle {
     margin-top: 50px;
     text-align: center;
     font-size: 50px;
     color: white;
}

.safetyText {
     margin: 25px 0;
     text-align: center;
     font-size: 20px;
     color: white;
}

.safetyButton {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 525px;
     height: 85px;
     margin: 25px 0;
}

.safetyButton:hover {
     transform: scale(1.01, 1.01);
}

.safetyButton:active {
     transform: scale(1.05, 1.05);
}

.safetyButtonBC {
     position: absolute;
     z-index: 0;
}

.safetyButtonBCIMG {
     z-index: 0;
}

.safetyButtonText {
     color: white;
     z-index: 5;
     font-size: 20px;
}
